HOST=0.0.0.0
PORT=8080
NODE_ENV=development
APP_URL=http://${HOST}:${PORT}
APP_NAME=crypto.bot

CACHE_VIEWS=false
APP_KEY=CQECM0tFrQplUcbbDuSZVkNnmiuTQSEy

SESSION_DRIVER=cookie
HASH_DRIVER=bcrypt

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3307
DB_USER=homestead
DB_PASSWORD=password
DB_DATABASE=homestead
DB_ROOT_PASSWORD=password